//META{"name":"BetterDark","description":"A better dark theme for Discord","author":"Paradise","version":"1.2.0", "website": "https://paradiseproductionz.net", "source": "https://github.com/ParadiseHitz/BetterDark.git"}*//{}

@import url('https://github.com/ParadiseHitz/BetterDark/blob/main/main.css');

.container-1NXEtd {
    background-color: #1c1b29 !important;
}

.wrapper-3Hk9OB {
    background: #1c1b29;
    position: relative;
    overflow: visible;
    border-bottom: none !important;
}

.container-YkUktl {
    background: #1c1b29;
}

.button-1EGGcP.buttonColor-3bP3fX, .button-1EGGcP .buttonColor-3bP3fX {
    background-color: #afafaf0a;
    color: var(--interactive-active);
    backdrop-filter: blur(1px);
    filter: drop-shadow(2px 3px 0.5px black) !important;
}

.members-3WRCEx, .members-3WRCEx>div {
    background-color: #1C1B29;
}

.chat-2ZfjoI {
    background: #292840 !important;
}

.theme-dark .form-3gdLxP:before {
    background: none;
    background: none;
}

.scrollableContainer-15eg7h {
    background-color: #1d1d2dd1;
}

.scroller-WSmht3 {
    background: none !important;
}

.container-ZMc96U.themed-Hp1KC_ {
    background: #1c1b29;
}

.scroller-3X7KbA {
    background-color: #1c1b29;
    border-right: 1px solid #15141f3d;
}

.platform-win .bg-1QIAus {
    background: #1c1b29;
}

.button-12Fmur {
    color: #ffffff;
    filter: drop-shadow(2px 2px 0.5px black);
}

.contentRegionScroller-2_GT_N {
    background: #292840;
}

.sidebarRegionScroller-FXiQOh {
    background: #1c1b29;
}